*
{padding: 0px;
margin: 0px;}

html
{font-size: 62,5%;
font-family: 'Teko', sans-serif;}

body
{background-color: rgb(27, 27, 27);}


.container
{position: absolute;
display: flex;
width: 60%;
height: 70vh;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;
margin: auto;
border-radius: 10px;
background-image: url(../img/backgroun-container.png);
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;}


.div-search
{width: 60%;
height: 100%;}

.div-data
{width: 40%;
height: 100%;
background-color: rgb(255, 255, 255, 0.3);
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;}

.date
{position: absolute;
top: 20px;
left: 20px;}

.date-days, .day-week
{color: white;}


#temperature
{font-size: 12rem;
margin-top: 400px;
margin-left: 20px;
color: white;}

#city
{color: white;
font-size: 2rem;
margin-top: -80px;
margin-left: 20px;}








.div-data div
{height: 20%;
width: 100%;}

.form-weather
{text-align: center;}

.form-weather form
{width: 100%;
padding-top: 40px;}

.form-weather input
{width: 60%;
font-size: 1.2rem;
border: none;
padding: 5px;
border-radius: 5px;
background-color: rgb(255, 255, 255, 0.4);
color: black;}

.form-weather button
{margin-left: 5px;
font-size: 1.2rem;
padding: 5px;
padding-left: 15px;
padding-right: 15px;
border: none;
border-radius: 5px;
cursor: pointer;
background-color: rgb(76, 115, 229, 0);
color: white;
transition: 250ms;}

.form-weather button:hover
{background-color: rgb(76, 115, 229);}


.weather-description
{position: relative;
border-bottom: 2px solid rgb(255, 255, 255);}




.div-description
{position: absolute;
justify-content: center;
width: 200px;
height: 150px;
bottom: 30px;
display: flex;}

.description
{color: white;
font-size: 2.5rem;}

#description-img
{width: 60px;
height: 60px;
margin-left: 20px;}



.div-wind, .div-huminity, .minMax-div
{position: relative;}

.wind-description, .huminity
{position: absolute;
margin-top: 30px;
margin-left: 30px;
font-size: 1.4rem;
color: white;}

.wind-txt, .humidity-description
{margin-top: -20px;}






